.buttons{
	border: 1pt solid rgb(107, 107, 107);
	padding: 2pt;
	vertical-align: middle;
}

#btInserirTexto{
	vertical-align: top;
}

#opcoes {
	padding: 5px;
	margin: 5px;
}

#opcoes ul {
	list-style-type: none;
}

#opcoes ul li {
	display: inline;
}
